body{
    margin: 0;
}
/* Header design */
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.logo{
    color: #f9faf8;
    font-size: 27px;
    font-weight: 900;
    font-style: italic;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color:#fff;
}

ul{
    list-style-type: none;
    display: flex;
    margin-right: 250px;
    gap: 16px;

}
 /* hero design */
 .hero{
     display: flex;
     
     align-items: center;
     background: #1f2937;
     
     
 }
    .hero div{
        flex: 1;
        padding: 0px 50px 100px 100px;        
    }
    

    img {
        width: 100%;
        height: auto;
      }

      .hero-heading{
          color: #f9faf8;
          font-size: 48px;
          font-weight: 900;
      }

      .hero-text{
          color:#e5e7eb;
          font-size: 18px;
      }

    

      button{
          background-color: #3882f6;
          color: #fff;
          padding: 10px 28px 10px 28px;
          border-radius: 5px;
          border: 0;
      }
/* information */

.info img {
    width: 100px;
    height: 100px;
  }
  
  .title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
    text-align: center;
    padding-top: 50px;
  }
  .container {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 200px;
    text-align: center;

  }
  
  .info {
    max-width: 200px;
  }
  /*Quote section desing  */

  .quote{
       display: flex;
       background-color: #e5e7eb;
       justify-content:center;
       align-items: center;

  }
  .quote-text{
    padding: 100px 200px ;
    color:#1f2937;
    font-size: 26px;
    font-style: italic;
    font-weight: 100;

}
figcaption{
    text-align: right;
}
 /* CTA Section desing */
 .modal{
   
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding :100px 0;
      
 }
 .cta-content{
    background: #3882f6;
     border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    margin: 150px;
    color:#fff;
    padding:16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding :10px 10px 10px 90px;
    
 }
 .cta-content div{
    flex: 1 1 0%;
}
.cta-content .left{
    flex: 3 1 0%
}
  .cta{
    border: 1px solid #fff;
    display: flex;
  }
   

/*footer design */
.footer{
    background-color: #1f2937;
    color:#fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 52px;
    
}